@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900");
html, body {
  background-color: #EBEAEA;
  font-family: "Open Sans", sans-serif;
  font-weight: 200; }

div.container {
  width: 900px;
  max-width: 90%;
  background-color: white;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 50px 40px; }
  div.container .subtitle {
    color: #CD5555;
    font-family: "Source Code Pro";
    font-weight: 400;
    margin-top: 60px;
    font-size: 20px; }
  div.container div.header img.thumbnail {
    display: inline-block;
    height: 110px;
    margin-right: 15px;
    position: relative;
    top: 10px; }
  div.container div.header div.text {
    display: inline-block; }
    div.container div.header div.text h1.name {
      font-size: 75px;
      margin: 0;
      font-family: Lato, sans-serif; }
      div.container div.header div.text h1.name .first {
        font-weight: 700;
        color: #CD5555; }
      div.container div.header div.text h1.name .last {
        font-weight: 100; }
    div.container div.header div.text h3.email, div.container div.header div.text h3.phone, div.container div.header div.text h3.seperator {
      margin: 0;
      display: inline-block;
      font-weight: 300;
      color: #6A6969; }
      div.container div.header div.text h3.email .fa, div.container div.header div.text h3.phone .fa, div.container div.header div.text h3.seperator .fa {
        font-size: 15px;
        margin-right: 1px; }
    div.container div.header div.text h3.seperator {
      font-weight: 700;
      font-size: 15px;
      color: #2E2E2E;
      margin: 0 10px; }
  div.container div.about p.content {
    line-height: 28px; }
  div.container div.skills ul li {
    line-height: 28px; }
  div.container div.projects div.project {
    margin-bottom: 50px; }
    div.container div.projects div.project img {
      width: 200px;
      display: inline-block;
      vertical-align: top;
      margin-top: 7px; }
    div.container div.projects div.project div.content {
      display: inline-block;
      width: 73%; }
      div.container div.projects div.project div.content h2.project-title {
        margin: 0;
        font-family: "Open Sans";
        font-weight: 400; }
      div.container div.projects div.project div.content h3.project-technologies {
        font-size: 15px;
        font-weight: 300;
        margin: 0; }
      div.container div.projects div.project div.content .btn {
        font-size: 13px;
        border: 1px solid #D5D5D5;
        padding: 3px 25px;
        color: black;
        text-decoration: none; }
      div.container div.projects div.project div.content a.github-btn {
        margin-left: 5px; }
  div.container div.projects div.project-left img {
    margin-right: 5px; }
  div.container div.projects div.project-right img {
    margin-left: 5px; }
  div.container div.contact form {
    width: 500px;
    max-width: 100%;
    margin: 0 auto; }
    div.container div.contact form label {
      display: block;
      width: 100%; }
    div.container div.contact form input {
      display: block;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      margin-bottom: 10px;
      padding: 5px;
      border-radius: 3px;
      border: 1px solid #CDCDCD; }
    div.container div.contact form textarea {
      display: block;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      padding: 5px;
      border-radius: 3px;
      border: 1px solid #CDCDCD; }

@media (max-width: 899px) {
  body {
    text-align: center; }

  ul {
    padding: 0; }
    ul li {
      list-style-type: none; }

  div.project-right {
    display: flex;
    flex-direction: column;
    align-items: center; }
    div.project-right img {
      order: 1;
      margin-bottom: 10px;
      align-items: center; }
    div.project-right div.content {
      order: 2; } }

/*# sourceMappingURL=style.css.map */
